.sous-titre1{
    color: orange;
}
.titre1{
    font-size: 50px;
}
.card-spec{
    background-color: rgb(235,245,230);
    padding: 5%;
    border-radius: 10px;
}
.card-spec:hover{
    background-color: rgb(255, 255, 255);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.test:hover{
    color: orange;
}
.card-contact{
    background-color: rgb(0, 0, 0);
    padding-top: 20%;
    color: white;
    border-radius: 10px;
}
.titre2{
    font-size: 30px;
}
.btn{
    background-color: #000000;
    color: #ffffff;
    margin-top: 15px;
    margin-right: 120px;
    width: 100%;
}
.btn-hoover{
    background-color: #ffffff;
    color: "000000";
    stroke-width: 50%;
}
.bgportfolio{
    background-color: pink;
    
}
.img1{
    border-radius: 15px;
}
.imagmargin{
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 20px;
}
.imagemargin1{
    margin-right: 100px;
    border-radius: 20px;
}
.text-1{
    color: gray;
}
.card-spec1{
    background-color: rgb(0, 0, 0);
    padding: 5%;
    border-radius: 10px;
    stroke: #ffffff;
}
.bg-color1{
    background-color: #000000;
}
.text-contact{
    color: red;
    font-size: 70px;
    margin-bottom: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input , select , textarea{
    margin-top: 2%;
    background-color: rgb(221, 221, 221) !important;
    border: 2px black solid !important; 
}
#but{
    margin-top: 2%;
    width: 50%;
    background-color: red;
    margin-left: 25%;
}
#but:hover{
    margin-top: 2%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: 25%;
    border: 2px black solid;
    color: black;
}