.sous-titre1{
    color: orange;
}
.titre1{
    font-size: 50px;
}
.card-spec{
    background-color: rgb(235,245,230);
    padding: 5%;
    border-radius: 10px;
}
.card-spec:hover{
    background-color: rgb(255, 255, 255);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.test:hover{
    color: orange;
}
.card-contact{
    background-color: rgb(0, 0, 0);
    padding-top: 20%;
    color: white;
    border-radius: 10px;
}
.titre2{
    font-size: 30px;
}
.btn{
    background-color: #000000;
    color: #ffffff;
    margin-top: 15px;
    margin-right: 120px;
    width: 100;
}
.btn-hoover{
    background-color: #ffffff;
    color: "000000";
    stroke-width: 35px;
}